<!DOCTYPE html>
<html>
    <body>
      <p> <b> URL Shortener </b> <br> <em> Click below to start creating a shortened link! </em> </p>
        <%= link_to home_path do %>
            <button type="button">Enter</button>
        <% end %>
    </body>
</html>
