<!DOCTYPE html>
<html>
    <body>
      <p> <b> URL Shortener </b> <br> <em> Click below to start creating a shortened link! </em> </p>
        <a href="/home"><button type="button">Enter</button></a>
    </body>
</html>
