<!DOCTYPE html>
<html>
    <head>
    <title>URL Shortener</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  </head>
    <body>
      <p> <b> URL Shortener </b> <br> <em> Click below to start creating a shortened link! </em> </p>
        <a href="/home"><button type="button">Enter</button></a>
    </body>
</html>
