<!DOCTYPE html>
<html lang="en">

<head>
  <title>URL Shortener</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  <title>Browser</title>
</head>

<body>
  <form>
    <div id="inpBox">
      <input type="text" id="longUrl" value="paste your long URL here"><br><br>
    </div>
      <input type="submit" id="submitButton" value="submit">
  </form>
  <script src="script.js"></script>
</body>

</html>
