<!DOCTYPE html>
<html>
  <body>
    <form>
      <div id="inpBox">
        <input type="text" id="longUrl" placeholder="paste your long URL here"><br><br>
      </div>
        <input type="submit" id="submitButton" value="submit">
    </form>
    <script src="script.js"></script>
  </body>
</html>
