<!DOCTYPE html>
<html>
    <body>
    <h1>Shortened URL:</h1>
        <div id="inpBox">
        <input type="text" id="longUrl" value="<%= @short %>" onclick="selectLink()"><br><br>
        <button id="submitButton" onclick="copyLink()"> Copy </button>
        </div>
    <p id="gfg"></p>
    <%= javascript_pack_tag 'shortened' %>
    </body>
</html>
